@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
    text-align: center;
    flex-direction: column;
}

h1 {
    color: #45f3ff;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    margin-top: -40px;
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

a {
    width: 50%;
    display: block;
    padding: 20px 50px;
    background-color: #45f3ff;
    color: #23242a;
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #1c9cff;
}