<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='indexlog.css') }}">
    <title>Wykresy</title>
</head>
<body>
    <div class="header">
        <h1>Zapraszamy do analizy wykresów na naszej stronie dotyczącej przestępczości w USA</h1>
    </div>
    <div class="button-container">
        <a href="/wykres1">Zabójstwa</a>
        <a href="/wykres2">Rozkład wieku obywateli USA</a>
        <a href="/wykres3">Rozkład ras obywateli USA oraz wykres zabójstw z podziałem na wiek i rasę</a>
        <a href="/wykres4">Gwałty z podziałem na rasę</a>
        <a href="/wykres5">Gwałty z podziałem na wiek</a>
        <a href="/wykres6">Kradzieże z podziałem na rasę</a>
        <a href="/wykres7">Kradzieże z podziałem na wiek</a>
        <a href="/wykres8">Napady z użyciem siły z podziałem na wiek</a>
        <a href="/wykres9">Napady z użyciem siły z podziałem na rasę</a>
    </div>
</body>
</html>
