<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='regislogin.css') }}">
    <title>Logowanie</title>
</head>
<body>
    <div class="box"> 
        <div class="form">
            <h1>Logowanie</h1>
            <form method="POST" action="/login">
                <div class="inputBox">
                    <label for="username"></label>
                    <input type="text" id="username" name="username" required>
                    <span>Nazwa użytkownika</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <label for="password"></label>
                    <input type="password" id="password" name="password" required>
                    <span>Hasło</span>
                    <i></i>
                </div>
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
</body>
</html>